asgiref==3.12.1
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
cryptography==50.0.1
dj-database-url==3.1.2
dj-email-url==1.0.6
Django==6.1.1
django-allauth==65.19.4
django-cache-url==3.4.6
django-unfold==0.102.0
djangorestframework==3.18.1
environs==15.2.0
google-auth==2.58.1
idna==3.20
marshmallow==4.3.1
pillow==12.3.0
psycopg2-binary==2.9.13
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
python-dotenv==1.2.3
requests==2.34.2
sqlparse==0.6.0
tzdata==2026.3
urllib3==2.8.0
